.rasa-chat-container {
  font-family: $font-family;
  box-sizing: border-box;
}

.chat-button {
  position: fixed;
  right: -1px;
  bottom: 24px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px;
  color: $chat-button-text;
  border-radius: 24px 0 0 24px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.44);
  background-color: $chat-button-bg;
  &:hover {
    opacity: .9;
  }
  &:active, &:focus {
    outline: none;
    border: none;
  }
}

.bubble-container {
  position: fixed;
  right: 10px;
  bottom: 80px;
  display: none;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  height: 420px;
  min-height: 100px;
  max-height: 700px;
  margin: 0 auto;
  //resize: both;
  background: $background;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px 12px 0 0;
  border: 1px solid $light;

  &.active {
    display: block;
  }
}

.input-wrap {
  // opacity: 0.4;
  textarea {
    box-sizing: border-box;
    resize: none;
  }
}
