$primary: #FB761E;
$text: #48413F;
$white: #FFFFFF;
$light: #cccccc;
$font-family: 'Roboto','Segoe UI',Helvetica, Helvetica Neue, Arial, Hiragino Sans GB, Segoe UI, sans-serif;

// chat window
$background: #FDFDFD;
$bubble-bg-bot: #FFFFFF;
$bubble-bg-user: $primary;
$text-bot: #48413F;
$text-user: #FDFDFD;
$text-placeholder: #AAA7A4;
$input-bg: #FFFFFF;
$input-text: $text;
$input-placeholder: rgba(255, 255, 255, .5);
$button-bg: $primary;
$button-text: #FFFFFF;

// open chat button
$chat-button-bg: $primary;
$chat-button-text: $white;
