$primary: #fb761e;
$text: #48413f;
$white: #fff;
$light: #ccc;
$font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

// chat window
$background: #fdfdfd;
$bubble-bg-bot: #fff;
$bubble-bg-user: $primary;
$text-bot: #48413f;
$text-user: #fdfdfd;
$text-placeholder: #aaa7a4;
$input-bg: #fff;
$input-text: $text;
$input-placeholder: rgba(#fff, .5);
$button-bg: $primary;
$button-text: #fff;

// open chat button
$chat-button-bg: $primary;
$chat-button-text: $white;
