.rasa-chat-container {
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Segoe UI, Microsoft YaHei, 微软雅黑, sans-serif;
  box-sizing: border-box;
}

.chat-button {
  line-height: 30px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  color: #0d4058;
  border: 1px solid currentColor;
  border-radius: 8px;
  background-color: rgba(#fff, .3);
}

.bubble-container {
  position: fixed;
  right: 10px;
  bottom: 50px;
  display: none;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  height: 420px;
  min-height: 100px;
  max-height: 700px;
  margin: 0 auto;
  //resize: both;
  background: #dcdde0;

  &.active {
    display: block;
  }
}

.input-wrap {
  opacity: 0.4;
  textarea {
    box-sizing: border-box;
    resize: none;
  }
}
